@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #534c64;
  margin: 0px;
  padding: 0px;
}

.head-nav-section {
  background-color: #fff;
}
.navigation-container {
  max-width: 80vw;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
}

.logo p {
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
  margin: 10px 0px;
}
span.logo-1st-letter {
  color: #ff42a5;
}

.nav-bar {
  width: 50%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

a.follow-us-btn {
  padding: 15px 25px;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

a.tiktok-youtube-icon {
}

.follow-us-btn {
}
.tiktok-icon {
  margin-left: 15px;
  font-size: 30px;
  color: #000000;
}

.youtube-icon {
  margin-left: 25px;
  color: red;
  font-size: 30px;
}

.play-like-column {
}

/* main section top styles  */
.main-top-section {
  max-width: 80vw;
  display: flex;
  margin: 0 auto;
  min-height: 300px;
  align-items: center;
}

.play-like-left-column {
  width: 40vw;
}

.like-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px;
  margin-bottom: 10px;
}

.goat-title {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.play-like-left-column p {
  color: #534c64;
  font-family: 20px;
  text-transform: lowercase;
  font-weight: 500;
  padding: 0px;
  margin: 20px 0px;
}
.icon-margin-right {
  margin-right: 12px;
  width: 24px;
  color: #ff42a5;
  object-fit: cover;
}

.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 0;
  border-radius: 45px;
  cursor: pointer;
}

.play-section-btn .red-button {
  background-color: #ff42a5;
  margin-right: 20px;
}

.play-section-btn .blue-button {
  background-color: #4ec5f7;
}

.play-like-right-column {
  width: 40vw;
}

.play-like-right-column img {
  width: 100%;
}

/* gamer section styles start here */
.gamer-background {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-section {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}

.gamer-left-column {
  width: 50vw;
}

.gamer-left-column img {
  width: 100%;
  object-fit: cover;
}

.gamer-right-column {
  width: 30vw;
  text-align: right;
}
h2.gamer-title {
  font-size: 48px;
  font-weight: 700;
}
p.gamer-details {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.gamer-red-button {
  background-color: #ff42a5;
}
.gamer-quotation p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.gamer-quotation h3 {
  color: #534c64;
  font-size: 25px;
  font-weight: 700;
  padding: 0px;
}

/* online game funny vidwo section */

.online-game-section {
  max-width: 80vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.online-single-column {
  object-fit: cover;
}
.online-single-column img {
  width: 100%;
}
.online-single-column p {
  text-align: center;
}

/* plany instantly section start from header */
.play-instantly {
  max-width: 80vw;
  margin: 0 auto;
}
.play-instantly-section {
  display: flex;
  align-items: center;
}
.play-instantly-left {
  width: 30vw;
  padding-left: 20px;
  padding-right: 40px;
}

.play-instantly-left h2 {
  text-align: right;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #0b0223;
}

.play-instantly-left p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}

.play-instantly-left h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instantly-right {
  width: 50vw;
  text-align: right;
  position: relative;
}
.play-main-img {
  width: 50vw;
  position: relative;
}

.play-main-img img {
  width: 40vw;
}
.play-corner-img {
  width: 250px;
  position: absolute;
  margin-top: -250px;
}
.play-corner-img img {
  width: 100%;
}

/* careers section start from here */

.careers-section {
}
.career-section-container {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
}

.careers-left-column {
  width: 40vw;
  text-align: left;
}

.careers-left-column h3 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  padding: 0;
}
.careers-left-column p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}
.career-list {
  display: flex;
  list-style: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}
.list-two {
  margin-left: 70px;
  text-align: right;
}


.career-list {
}

.btn-career {
    margin-top: 30px;
    background-color: #ff42a5;
}

.career-right-column {
  width: 40vw;
}
.career-right-column img {
  width: 40vw;
}
.careers {
}
.careers {
}
